body {
  margin: 40px 0 0 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.logo, .menu {
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 240px;
}

.logo {
  width: 190px;
  height: 35px;
  background: url('img/logo.svg');
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 30px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__item_active:after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover:after,.menu__item_active:after {
  opacity: 1;
}

.main {
  padding: 0 63% 100px 0;
  background: top right no-repeat url(img/mainImg.svg);
}

.main__title {
  margin: 0 0 40px 0;
  font: bold 50px/65px pt_serifbold, arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__subtitle {
  margin: 0 0 41px 0;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

@media (max-width: 1920px) {
  .main__title {
    margin: 0 0 36px 0;
    font: bold 66px/88px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    display: table;
    white-space: pre-line;
    word-wrap: break-word;
    margin: 0 0 45px 0;
    width: 40%;
    font: 22px/26px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    font: 18px/21px Roboto, arial, helvetica, sans-serif;
  }

  .main {
    padding: 0 63% 100px 0;
    background: top right no-repeat url(img/mainImg.svg);
    background-size: 50%;
  }
}

@media (max-width: 1366px) {
  .wrapper {
      margin: auto;
      width: 69%;
  }

  .header {
    margin-bottom: 140px;
  }

  .menu__item {
    margin-right: 28px;
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }

  .main__title {
    margin: 0 0 36px 0;
    font: bold 50px/66px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main {
    padding: 0 50% 100px 0;
    background: top 20% right 2% no-repeat url(img/mainImg.svg);
  }

  .main__subtitle {
    margin: 0 0 41px 0;
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    margin: auto;
    width: 92%;
  }

  .menu__item {
    margin-right: 26px;
  }

  .main {
    padding: 0 50% 100px 0;
    background: top 20% right 1% no-repeat url(img/mainImg.svg);
    background-size: 53%;
  }
}

@media (max-width: 768px) {
  body {
    margin-top: 24px;
  }

  .menu {
    display: none;
   }

  .header {
    margin-bottom: 32px;
  }

  .hamburger-menu {
    margin-top: 26px;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);

  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 28px;
    right: 24px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;

  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .logo {
    height: 35px;
    width: 36px;
    left: 24px;
    top: 24px;
    background: url('img/group 1.svg');
  }

  .main {
   text-align: center;
   padding: 74% 0 0;
   background-size: 80%;
   background-position: top 2% center;
  }

  .main__title {
   margin-bottom: 35px;
   font: bold 30px/39px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    display: inline-block;
    margin-bottom: 25px;
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
   font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .main__subtitle {
    display: inline-block;
    margin-bottom: 25px;
    height: 57px;
    width: 275px;
    left: 53px;
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
  }
}
